<div class="w-full flex-wrap md:flex md:flex-nowrap gap-[100px] mb-[60px]">
  <%= render Cluster::Heading.new(cluster: cluster) %>
  <div class="md:mt-[160px]">
    <%= render Shared::Event.new(event: event, cluster: cluster) %>
  </div>
</div>
