<div class="w-full flex-wrap md:flex gap-[100px] mb-[60px]">
  <div class="w-full h-fit md:w-[725px] flex justify-center mb-[200px]">
    <div class="category-title-container">
      <img src="/images/arron_swartz.jpeg">
      <div class="category-title">Risk & Safety</div>
      <div class="category-title glow">Risk & Safety</div>
    </div>
  </div>
  <div class="w-full md:w-[725px] flex justify-start mt-[160px]">
    <div class="flex gap-[50px] sm:flex-wrap-reverse">
      <img class="h-60" src="./images/eric_snowden.jpeg"/>
      <div class="w-full md:w-1/2 sm:text-right mt-[50px]">
        <p class="meta text-dark-grey mb-[20px]">2013</p>
        <h3 class="heading-sm text-medium-black mb-[26px]">Snowdan Revelations</h3>
        <p class="base">Disclosures revealed numerous global surveillance programs, many run by the NSA and the Five Eyes intelligence alliance with the coopertion of telecommunciation companies and European governments and prompted a cultural discussion about national secruity and indvidual privacy</p>
        <button class="p-1 px-4 border border-solid-black mt-[25px]">risk and safety</button>
      </div>
    </div>
  </div>
</div>
