<div class="w-full flex gap-8 sm:flex-wrap">
    <div class="w-1/2 flex justify-end sm:w-full
    sm:justify-center sm:mb-[80px]">
      <div>
        <h2 class="inline">Risk and Safety</h2>
        <img class="h-80 sm:h-60" src="./images/arron_swartz.jpeg">
      </div>
    </div>
    <div class="w-1/2 flex justify-start sm:w-full">
      <div class="flex gap-4 sm:flex-wrap-reverse sm:px-[50px]">
        <img class="h-60" src="./images/eric_snowden.jpeg"/>
        <div class="w-1/2 sm:w-full sm:text-right">
          <p class="base">2013</p>
          <h3 class="heading-xxs">Snowdan Revelations</h3>
          <p class="base">Disclosures revealed numerous global surveillance programs, many run by the NSA and the Five Eyes intelligence alliance with the coopertion of telecommunciation companies and European governments and prompted a cultural discussion about national secruity and indvidual privacy
        </p>
        <button class="p-1 px-4 border border-solid-black">risk and saftey</button>
        </div>
      </div>
    </div>
  </div>