<% if events.length > 1 %>
<div class="w-full flex-wrap md:flex md:flex-nowrap gap-[100px] mb-[60px]">
  <% event = events.shift %>
  <div class="md:mt-[160px]">
    <%= render Shared::Event.new(event: event, cluster: cluster) %>
  </div>
  <% event = events.shift %>
  <%= render Shared::Event.new(event: event, cluster: cluster) %>
  </div>
<% end %>