<header class="hero">
  <h1 class="heading-xxxl text-center">
    Landing Page header
  </h1>
  <div class="absolute bottom-0 w-full text-center">
    <span class="body text-off-white">Explore</span>
    <div class="bottom-0 mx-auto w-[1px] h-[25px] bg-off-white"></div>
  </div>
</header>