<div class="flex flex-col items-center mt-[80px] mb-[80px] px-[10px]">
  <img class="h-[75px] mb-[30px]" src="./images/shared/pink_star_icon.svg">
  <p class="heading-md text-dark-grey text-center w-full md:w-1/2"><%= cluster.highlight %></p>
</div>