  <div class="flex flex-col items-center mt-[80px] mb-[80px]">
    <img class="h-[75px] mb-[30px]" src="./images/shared/thought-bubble.svg">
    <p class="heading-md text-dark-grey text-center">How does mobile technology expose or protect our vulnerability</p>
  </div>