  <div class="w-full flex gap-8 h-80 px-20">
    <div class="w-1/2 flex justify-end items-center sm:w-full">
      <div class="quote-content">
        <p class="heading-xxs">"Privacy has always been a concern of mine, but I also don't feel like I have much control..."</p>
        <p>- Sherri J., Atlanta, GA</p>
        <button class="p-1 px-4 border border-solid-black">people's voice</button>
      </div>
    </div>
  </div>