<div class="w-full my-[90px]">
  <div class="w-1/2 flex justify-end items-center sm:w-full">
    <div class="quote-content flex flex-col justify-center">
      <p class="heading-sm text-fuchsia text-center mb-[20px]">"Privacy has always been a concern of mine, but I also don't feel like I have much control..."</p>
      <p class="text-center mb-[26px]">- Sherri J., Atlanta, GA</p>
      <p class="text-center">
      <button class="w-fit p-1 px-4 border border-solid-black">people's voice</button>
      </p>
    </div>
  </div>
</div>