<div class="w-1/2 flex justify-start mb-[120px] mt-[100px] sm:flex-wrap sm:w-full">
  <div class="flex md:gap-[50px] sm:flex-wrap-reverse">
    <%= render Shared::Event.new(event: cta, cluster: cluster, meta: 'Take Action') %>
  </div>
</div>
