<div class="w-1/2 flex justify-start mb-[120px] mt-[100px]  sm:flex-wrap sm:w-full">
  <div class="flex gap-4 sm:flex-wrap-reverse">
    <img class="h-60" src="./images/eric_snowden.jpeg"/>
    <div class="w-1/2 sm:w-full">
    <p class="meta text-dark-grey">Take Action</p>
      <h3 class="heading-sm text-blue">Security Resources</h3>
      <p class="base">Disclosures revealed numerous global surveillance programs, many run by the NSA and the Five Eyes intelligence alliance with the coopertion of telecommunciation companies and European governments and prompted a cultural discussion about national secruity and indvidual privacy
      </p>
      <button class="p-1 px-4 border border-solid-black">resources</button>
    </div>
  </div>
</div>