<div class="w-full flex gap-8 h-80 justify-end items-center sm:justify-center">
  <div class="w-1/2 sm:full sm:text-right sm:flex sm:items-end sm:flex-col">
    <p class="heading-xxs w-1/2 sm:full">Tell me about a time when you felt vulnerable because of your mobile phone</p>
    <button class="p-1 px-4 border border-solid-black">Tell your story</button>
  </div>
</div>