<div class="wrapper participate my-[100px]">
  <article>
    <h1 class="heading-sm mb-[26px]"><%= prompt.data.question %></h1>
    <%= render Shared::Button.new(text: "Tell your story", href: url_for(prompt)) %>
  </article>
</div>