<div class="flex gap-[100px]">
  <div class="hidden md:flex md:w-[725px]"></div>
  <div class="w-full md:w-[725px] flex justify-start">
    <div class="md:w-[500px]">
      <p class="heading-sm mb-[26px]">Tell me about a time when you felt vulnerable because of your mobile phone</p>
      <%= render Shared::Button.new(text: "Tell your story", href: "#") %>
    </div>
  </div>
</div>