<nav class="max-w-[1260px] mx-auto mb-10">
  <h2 class="heading-xs pb-6 mb-8 border-b border-b-off-white">Explore Collections</h2>
  <ul class="grid grid-cols-1 lg:grid-cols-2 gap-y-6 gap-x-[200px]">
    <% clusters.each do |cluster| %>
      <li>
        <%= link_to cluster.relative_url,
          class: "flex gap-6 items-center group/link" do %>
          <div class="block sm:min-w-[60px] sm:h-[60px] sm:w-[60px] min-w-[80px] h-[80px] w-[80px] bg-center bg-no-repeat bg-auto" style="background-image: url(<%= relative_url cluster.data.nav_image&.src %>)"></div>
          <div>
            <span class="block font-medium tracking-tight text-xl mb-2 group-hover/link:underline group-hover/link:underline-offset-2 capitalize"><%= cluster.data.title %></span>
            <span class="text-lg text-medium-grey"><%= cluster.data.primary_nav_description %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>