<a href="/" aria-label="Navigate to home page"
   class="text-white flex items-center">
  <img class="w-[50px] h-[50px] mr-6" src="/images/shared/APHOT_white_transparent.svg" alt="">
  <div class="hidden md:block">
    <span class="uppercase block font-semibold text-lg -mb-1">A People's history of tech:</span>
    <span class="block">The Mobile Phone</span>
  </div>
</a>

