<a href="/" aria-label="Navigate to home page"
   class="text-white flex items-center">
  <img class="bg-black h-[50px] mr-6" src="/images/shared/phone-icon.png" aria-hidden="true">
  <div class="hidden md:block">
    <h1 class="uppercase font-semibold text-lg -mb-1">A People's history of tech:</h1>
    <h2>The Mobile Phone</h2>
  </div>
</a>

