<nav class="max-w-[630px] mb-10">
  <h2 class="heading-xs pb-4 2xl:pb-6 mb-8 border-b border-b-grey-medium">Follow Us</h2>
  <ul class="grid grid-cols-1 w-full gap-y-6 gap-x-[200px]">
    <li>
      <%= link_to "Instagram",
        "https://www.instagram.com/peopleshistoryoftech",
        class: "text-xl text-medium-grey mb-4 block hover:underline hover:underline-offset-2", target: :_blank
      %>
    </li>
    <li>
      <%= link_to "Tik Tok",
        "https://www.tiktok.com/@peoplestech",
        class: "text-xl text-medium-grey mb-4 block hover:underline hover:underline-offset-2", target: :_blank
      %>
    </li>
    <li>
      <%= link_to "Spotify",
        "https://open.spotify.com/playlist/6OFgXxZhGNhGZE7TYA3JUH?si=df9ff3df7bd64a33&nd=1&dlsi=04312e2a6b73485f",
        class: "text-xl text-medium-grey mb-4 block hover:underline hover:underline-offset-2", target: :_blank
      %>
    </li>
    <li>
      <%= link_to "Substack",
        "https://peoplestech.substack.com/",
        class: "text-xl text-medium-grey mb-4 block hover:underline hover:underline-offset-2", target: :_blank
      %>
    </li>
  </ul>
</nav>