<% social_links = collections.social_links.resources %>

<nav class="max-w-[530px] mb-10">
  <h2 class="heading-xs pb-4 2xl:pb-6 mb-8 border-b border-b-grey-medium tracking-[.01em]">Follow Us</h2>
  <ul class="grid grid-cols-1 w-full gap-y-6 gap-x-[200px]">
    <% social_links.each do |social_link| %>
      <li>
        <%= link_to social_link.data.name,
          social_link.data.href,
          class: "text-xl text-medium-grey mb-[26px] block hover:underline hover:underline-offset-2 nav-link",
          class: "text-xl text-medium-grey mb-[13px] block hover:underline hover:underline-offset-2",
          target: :_blank
        %>
      </li>
    <% end %>
  </ul>
</nav>