<section>
  <div class="mb-16">
    <h3 class="text-2xl mb-4">About this guide</h3>
    <hr class="my-2"/>
    <p>This style guide is to provide website developer(s) with color specs, typography details, button and anchor details, etc. for A People’s History 
    of Tech: The Mobile Phone, MVP website project kicking off on January 19, 2024. It does not include website container sizes, or content 
    spacing. Please see annotated screenshots for those details.</p>
  </div>
</section>