<section>
  <div>
    <h3 class="text-2xl mb-4">Accessibility Palette</h3>
    <hr class="my-2"/>
    <p>
      This palette offers a straightforward opportunity to check whether
      the media queries used for accessibility affordances recognize your
      current settings.
    </p>
    <div class="flex-wrap flex gap-8  my-8">
      <div class="guide reduced-motion"> Prefers Reduced Motion </div>
    </div>
  </div>
</section>