<section>
  <div class="mb-16">
    <h3 class="text-2xl mb-4">Web Typography</h3>
    <hr class="my-2"/>
    <p class="my-4"><span class="mr-8"><span class="text-medium-grey font-medium">Base Font: </span><span class="font-medium">Montserrat</span></span><span class="text-medium-grey font-medium">Weights:</span><span class="font-medium"> Regular; SemiBold; Medium; Bold (+ Italics)</span></p>
    <p class="my-4"><span class="text-medium-grey font-medium">Paragraphs:</span><span class="font-medium"> The base body text is 16px. The paragraph width is capped at 960px, and there should be 30px between paragraphs.</span></p>
    <div>
      <h1 class="heading-xxxl">Heading XXXL</h1>
      <p>Mobile Font-size: 72px / Line-height: 72px Desktop: 180px / 170px SemiBold; Title Case; Letter Spacing -25%</p>
    </div>
    <hr class="my-2"/>
    <div>
      <h2 class="heading-xxl">Heading XXL</h2>
      <p>Mobile: 44px / 48px Desktop: 90px / 94px Bold</p>
    </div>
    <hr class="my-2"/>
    <div>
      <h3 class="heading-xl">Heading XL</h3>
      <p>Mobile: [Not yet defined.] Desktop: 72px / 78px Regular</p>
    </div>
    <hr class="my-2"/>
    <div>
      <h4 class="heading-lg">Heading Lg</h4>
      <p>Mobile: 36px / 30px Desktop: 56px / 50px Bold; Uppercase</p>
    </div>
    <hr class="my-2"/>
    <div>
      <h5 class="heading-md">Heading Md</h5>
      <p>Mobile: 36px / 40px Desktop: 40px / 46px Regular</p>
    </div>
    <hr class="my-2"/>
    <div>
      <h6 class="heading-sm">Heading Sm</h6>
      <p>Mobile + Desktop: 36px / 40px Bold; Letter Spacing 10%</p>
    </div>
    <hr class="my-2"/>
    <div>
      <p class="heading-sm-alt">Heading Sm-Alt</p>
      <p>Mobile + Desktop: 36px / 40px Regular</p>
    </div>
    <hr class="my-2"/>
    <div>
      <p class="heading-xs">Heading Xs</p>
      <p>Mobile + Desktop: 24px / 28px Medium; Letter Spacing 10%</p>
    </div>
    <hr class="my-2"/>
    <div>
      <p class="heading-xs-alt">Heading Xs-Alt</p>
      <p>Mobile + Desktop: 24px / 28px Regular</p>
    </div>
    <hr class="my-2"/>
    <div>
      <p class="heading-xxs">Heading Xxs</p>
      <p>Mobile + Desktop: 20px / 24px SemiBold; Title Case</p>
    </div>
    <hr class="my-2"/>
    <div>
      <p class="body">Body</p>
      <p>Mobile + Deskop: 17px / 26px Regular</p>
    </div>
    <hr class="my-2"/>
    <div>
      <p class="base">Base</p>
      <p>Mobile + Desktop: 16px / 24px Regular</p>
    </div>
    <hr class="my-2"/>
    <div>
      <p class="meta">Meta</p>
      <p>Mobile + Deskop: 16px / 20px Regular + Medium; lowercase</p>
    </div>
    <hr class="my-2"/>
  </div>
</section>
