<header>
  <h2><%= @post.data.title %></h2>
  <span class="subhead text-medium-grey mb-[20px]">Take Action</span>
  <img src="<%= relative_url @post.data.media&.thumbnail %>"
    alt="<%= @post.data.media&.alt %>" />
</header>
<p class="text-ellipsis line-clamp-3"><%= @post.content_summary %></p>
