<% cluster_thumbnail = @post.data.cluster_thumbnail&.src %>

<% if cluster_thumbnail && !cluster_thumbnail.blank? %>
  <% image = cluster_thumbnail %>
  <% alt = @post.data.cluster_thumbnail&.alt %>
<% else %>
  <% image = @post.data.media&.thumbnail %>
  <% alt = @post.data.media&.alt %>
<% end %>

<header>
  <h2><%= @post.data.title %></h2>
  <span class="subhead text-medium-grey mb-[20px]">Take Action</span>
  <img src="<%= relative_url image %>"
    alt="<%= alt %>" />
</header>
<p class="text-ellipsis line-clamp-3"><%= @post.summary_summary %></p>
