<section class="bg-very-black p-[50px] mb-[130px] min-h-[520px]">
  <%= partial 'entry/card/credit' %>
  <%= partial 'entry/card/body' %>
  <%= partial 'entry/card/links' %>
  <%= partial 'entry/card/tags' %>
</section>
