<section>
  <h1 class="heading-xl w-full text-center mb-[40px] md:mb-[50px]"><%= data.title%></h1>
  <img src="<%= relative_url data.thumbnail %>" alt="" class="mb-[50px] md:mb-[60px] max-w-[240px] max-h-[240px] md:max-w-full md:max-h-[450px] mx-auto" />
</section>
