<section class="px-[50px]">
  <h1 class="heading-xl w-full text-center mb-[50px]"><%= data.title%></h1>
  <img src="<%= relative_url data.thumbnail %>" alt="" class="mb-[60px] max-h-[450px] mx-auto" />
</section>
