<section data-controller="carousel" class="bg-off-white pt-[80px] md:pt-[100px] pb-[80px] md:pb-[140px] text-medium-black">
  <div class="swiper carousel">
    <div class="flex w-full justify-between mb-[30px]">
      <h4 class="heading-xs">Explore More</h4>
      <div class="heading-xxs text-dark-grey my-auto flex gap-x-5">
        <button data-carousel-target="prev" class="text-fuchsia">Prev</button>
        <button data-carousel-target="next" class="text-fuchsia">Next</button>
      </div>
    </div>
    <div class="swiper-wrapper">
      <% collections.journals.resources.select {|j| j.data.tags.include?("Connection & Access")}.each do |journal| %>
        <% link = url_for(journal) %>
        <div class="swiper-slide">
          <a href="<%= link %>" class="w-full h-full flex flex-col justify-center items-center">
            <h5 class="heading-sm text-fuchsia text-center mb-4">
              <%= journal.data.highlight %>
            </h5>
            <p class="base text-off-white text-center">- <%=journal.data.source || "Anonymous" %><%= ", #{journal.data.location}" %></p>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>