<div class="heading">
  <a href="<%= url_for(@cluster) %>">
    <article>
      <h2 class="cluster-title"><%= @title %></h2>
      <div class="cluster-title glow" aria-hidden="true"><%= @title %></div>
      <div class="hero-image" style="background-image: url(<%= relative_url @cluster.data.hero %>)"></div>
    </article>
  </a>
</div>