<% cta = resource %>
<%= render("post/base") do  %>
  <main class="min-w-[260px] max-w-[260px] md:min-w-[960px] md:max-w-[960px] mx-auto mt-[40px] md:mt-[150px]">
    <%= partial 'post/headline' %>
    <%= partial 'cta/card' %>
  </main>

  <%= partial 'entry/related', locals: { event: cta } %>
<% end %>
