---
layout: default
---
<% entry = resource %>
<%= partial 'post/headline' %>
<main>
  <%= partial 'entry/card', locals: { resource: entry } %>
</main>
<%= partial 'post/related', locals: { resource: entry } %>
