---
layout: default
---
<%= render Shared::Navbar.new(site: site, resource: resource) %>
<main class="w-[80%] lg:w-[62%] max-w-[960px] mx-auto mt-[40px] md:mt-[150px]">
  <%= partial 'post/headline' %>
  <div class="page-md-style">
    <%= content %>
  </div>
</main>
