---
layout: default
---

<% prompt           = resource %>
<% explore_clusters = PostHelpers.explorable_collections(posts: collections.clusters.resources.each, value: nil) %>

<header>
  <%= render Shared::Navbar.new(site: site, resource: resource) %>
</header>
<main class="px-[30px] lg:px-[70px] my-[40px]">
    <h1 class="heading-xxl my-[50px] text-center">Tell Your Story</h1>
  <%= render Prompt::TypeForm.new(prompt.data.typeform_id) %>
</main>
<%= render Shared::Carousel.new(header_text: "Explore Collections") do %>
  <% explore_clusters.each do |explorable_cluster| %>
    <%= render Poster::Cluster.new(cluster: explorable_cluster) %>
  <% end %>
<% end %>
