<div class="poster swiper-slide">
  <%= link_to @link do %>
    <div class="content">
      <div class="cover" style="background-image: url(<%= relative_url @cluster.explore_image&.src %>)"></div>
      <h2><%= @cluster.title %></h2>
      <p><%= @carousel_description %></p>
    </div>
  <% end %>
</div>
