<div class="poster swiper-slide">
  <%= link_to @link do %>
    <div class="content">
      <div class="cover" style="background-image: url(<%= relative_url @cluster.hero %>)"></div>
      <h2><%= @cluster.title %></h2>
      <p><%= @cluster.intro %></p>
    </div>
  <% end %>
</div>
