<div class="card cta">
  <%= link_to @link do %>
    <article>
      <header>
        <h2><%= @cta.title %></h2>
        <span class="subhead text-medium-grey mb-[20px]">Take Action</span>
        <img src="/images/shared/cluster-title-resource.jpg"
           alt="" />
      </header>
      <p><%= @content %></p>
    </article>
  <% end %>
</div>
