<div class="card journal">
  <%= link_to @link, class: "card-journal-link" do %>
    <article class="justify-center">
      <div class="journal-wrapper">
        <h2 class="prevent-overflow link"><%= @highlight %></h2>
        <p><%= @byline %></p>
      </div>
    </article>
  <% end %>
</div>
