<div class="card journal swiper-slide">
  <%= link_to @link do %>
    <article>
      <h2 class="prevent-overflow link"><%= @highlight %></h2>
      <p><%= @byline %></p>
    </article>
  <% end %>
</div>
