<div class="card prompt">
  <article>
    <h2 class="prevent-overflow">
      <%= @prompt.question %>
    </h2>
    <%= render Shared::Button.new(text: "Tell Your Story", href: @link, type: :secondary) %>
  </article>
</div>
