<div class="card prompt swiper-slide">
  <a href="<%= @link %>">
    <article>
      <h2>
        <%= @prompt.question %>
      </h2>
      <%= render Shared::Button.new(text: "Tell Your Story", href: @link, type: :secondary) %>
    </article>
  </a>
</div>
