<div class="card take-action">
  <%= link_to @link do %>
    <div class="content">
      <img src="<%= relative_url @event.thumbnail %>" alt="" />
      <div class="subhead">Take Action</div>
      <h2><%= @event.title %></h2>
      <p><%= @content %></p>
    </div>
  <% end %>
</div>
