<div class="bg-solid-black text-white h-screen w-full hero flex justify-around gap-0">
  <div class="w-full md:w-1/3 m-auto">
    <h1 class="heading-lg mb-[26px]"><%= cluster.title %></h1>
    <h2 class="heading-sm-alt text-off-white mb-[26px]"><%= cluster.intro %></h2>
    <p class="text-medium-grey">
      Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Consequat id porta nibh venenatis cras sed.
    </p>
  </div>
  <div class="w-full md:w-1/3 m-auto">
    <img class="w-[454px] min-w-[454px] h-[454px] rotate-3" src="/images/arron_swartz.jpeg">
  </div>
</div>