<div class="bg-solid-black text-white h-screen w-full hero flex justify-around gap-0 sm:px-[20px]">
  <div class="max-w-[1260px] flex gap-[50px] m-auto sm:flex-wrap">
    <div class="w-full md:w-1/2 mt-[100px]">
      <h1 class="heading-lg mb-[26px]"><%= cluster.title %></h1>
      <h2 class="heading-sm-alt text-off-white mb-[26px]"><%= cluster.highlight %></h2>
      <p class="text-medium-grey">
        <%= cluster.intro %>
      </p>
    </div>
    <div class="w-full md:w-1/2">
      <div class="hero-image rotate-3" style="background-image: url(<%= relative_url cluster.hero %>)"></div>
    </div>
  </div>
  <div class="absolute bottom-0 w-full text-center">
    <span class="body text-off-white">Explore</span>
    <div class="bottom-0 mx-auto w-[1px] h-[25px] bg-off-white"></div>
  </div>
</div>