<section data-controller="carousel">
  <div class="!flex flex-row">
    <h3><%= @header_text %></h3>
    <nav class="tabletAndAbove">
      <button data-carousel-target="prev">Prev</button>
      <button data-carousel-target="next">Next</button>
    </nav>
  </div>
  <div class="swiper carousel !flex">
    <div class="swiper-wrapper">
      <%= content %>
    </div>
  </div>
  <nav class="mobile">
    <button data-carousel-target="prev">Prev</button>
    <button data-carousel-target="next">Next</button>
  </nav>
</section>