<% link_missing = @href.nil? || @href.empty? %>

<p class='body text-medium-grey'>
  <%= @label %>
  <% if link_missing %>
    <span class="text-off-white">
      <%= @credit %>
    </span>
  <% else %>
    <a href="<%= @href %>" class='text-off-white'>
      <%= @credit %>
    </a>
  <% end %>
</p>