<%= @label %>
<% if @link_missing %>
  <span class="text-off-white">
    <%= @credit %>
  </span>
<% else %>
  <a class="media-credit" href="<%= @href %>" class='text-off-white'>
    <%= @credit %>
  </a>
<% end %>
