<div class="my-[60px] wrapper">
  <div class="flex justify-end items-center">
    <div class="flex flex-col justify-center">
      <a href="<%= url_for(@journal)%>">
        <h3 class="heading-sm text-fuchsia text-left font-extrabold md:text-center mb-[20px] tracking-[0.01em]">
          <%= @journal.highlight_summary(length: 110) %>
        </h3>
      </a>
      <p class="text-left md:text-center mb-[26px]">
        - <%= @journal.data.source%>, <%= @journal.data.location%>
      </p>
      <p class="text-left md:text-center">
        <a href="/collections/peoples-stories" class="p-1 px-4 border border-solid-black mt-[25px] w-fit lowercase">
          people's stories
        </a>
      </p>
    </div>
  </div>
</div>