<aside class="mb-[50px]">
  <h3 class="heading-xxs"><time><%= data.start_date&.year %></time>, <%= data.location %></h3>
  <p class='body text-medium-grey'>
    <%= render Shared::Credit.new(label: "Media", credit: data.media&.credit, href: data.media&.link) %>
  </p>
  <p class='body text-medium-grey'>
    <%= render Shared::Credit.new(label: "Source", credit: data.source, href: data.source_link) %>
  </p>
</aside>