.cluster_resource,
.cluster {
  > header {
    @apply bg-solid-black text-white flex gap-[40px];
    @apply bg-[url("/images/shared/History-of-the-Mobile-Phone_Collection-Header-Bg_810x1080.jpg")];
    @apply lg:bg-[url("/images/shared/History-of-the-Mobile-Phone_Collection-Header-Bg_1920x1080.jpg")];
    @apply bg-origin-border bg-no-repeat bg-bottom bg-cover;
    @apply w-screen h-screen relative;

    width: 100vw;
    min-height: 100vh;
    height: 100%;

    a {
      margin-right: 5px;
    }

    article { @apply !w-full lg:!w-1/2 lg:pl-[40px] }
  }
  main {
    @apply max-w-[1550px] mx-auto my-[150px];
    @apply grid grid-cols-1 justify-items-center gap-[30px];

    @media (min-width: 810px) {
      & {
        @apply grid-cols-2 !gap-[30px];
      }
    }
    @media (min-width: 1260px) {
      & {
        @apply grid-cols-3 !gap-[30px] max-w-[1260px] !px-0;
      }
    }
  }
  header article {
    @apply w-full md:w-1/2 md:ml-5 -mt-[35px] md:-mt-[50px];
    @apply flex flex-col gap-[30px];

    h1 {
      @apply heading-xxl;
    }
    h2 {
      @apply heading-sm-alt text-white tracking-widest;
    }
    p {
      @apply meta-normal text-medium-grey;
    }
    @media (min-width: 769px) {
      p {
        @apply body;
      }
    }
  }
  header aside {
    @apply w-full md:w-1/2 relative;

    .hero-image {
      @apply w-[76.38888888888889%];
      @apply rotate-3 !important;
    }
  }
  .card {
    @apply bg-very-black;
    @apply lg:odd:justify-self-end lg:even:justify-self-start;
    @apply xl:odd:justify-self-center xl:even:justify-self-center;

    @media (min-width: 1280px) {
      &:nth-child(3n+2) {
        @apply md:-mt-[75px];
      }
    }
  }
}

.hero-image {
  @apply bg-cover bg-center mx-auto lg:mr-0;
  width: var(--cluster-image-size);
  height: var(--cluster-image-size);
}
