/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
}

.card_links {
  aside {
    flex: flex-col;

    > *:not(p) { display: none !important }
    a {
      display: block;
      font-weight: bold;
      padding-bottom: 2px;
    }
    a::after {
      content: url('/images/shared/arrow_forward_icon.svg');
      display: inline-block;
      width: 16px;
      height: 16px;
      padding-left: 4px;
      vertical-align: sub;
    }
  }
}