/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
}

.heading-xxxl {
  @apply text-[72px]/[72px] font-semibold capitalize tracking-tight md:text-[180px]/[170px]
}
.heading-xxl {
  @apply text-[90px]/[94px] font-semibold capitalize tracking-tight
}
.heading-xl {
  @apply text-[20px]/[24px] md:text-[72px]/[78px]
}
.heading-lg {
  @apply text-4xl/[30px] md:text-[56px]/[50px] font-bold uppercase
}
.heading-md {
  @apply text-4xl/10 md:text-[40px]/[46px]
}
.heading-sm {
  @apply text-4xl/10 tracking-widest font-bold
}
.heading-sm-alt {
  @apply text-4xl/10
}
.heading-xs {
  @apply text-2xl/7 tracking-widest font-medium
}
.heading-xs-alt {
  @apply text-2xl/7
}
.heading-xxs {
  @apply text-xl/6 font-semibold capitalize
}
.body {
  @apply text-[17px]/[26px]
}
.base {
  @apply text-base/6
}
.meta {
  @apply text-base/5 lowercase
}

.card_links {
  aside {
    flex: flex-col;
    > *:not(p) { display: none !important }
    a {
      display: block;
      font-weight: bold;
      padding-bottom: 2px;
    }
    a::after {
      @apply text-lime-green;
      content: "";
      background-color: currentColor;
      display: inline-block;
      mask: url('/images/shared/arrow_forward_icon.svg') no-repeat 50% 50%;
      width: 16px;
      height: 16px;
      margin-left: 4px;
      vertical-align: sub;
    }
  }
}

.button.primary {
  @apply bg-lime-green text-black rounded-sm px-[15px] py-3 hover:underline hover:opacity-70 active:no-underline  block min-h-[50px] min-w-[190px] w-fit text-center uppercase
}
.button.secondary {
  @apply text-medium-grey border border-medium-grey rounded-sm px-[15px] py-3 hover:text-lime-green hover:border-lime-green hover:underline hover:opacity-70 active:no-underline block min-h-[50px] min-w-[190px] w-fit text-center uppercase
}
.button.tertiary {
  @apply text-lime-green border border-lime-green rounded-sm px-5 hover:text-lime-green hover:border-lime-green hover:underline hover:opacity-70 active:no-underline block min-h-[50px] min-w-[190px] w-fit text-center py-3 uppercase
}

[data-controller="carousel"] {
  @apply bg-off-white pt-[80px] md:pt-[100px] pb-[80px] md:pb-[140px] text-medium-black;
}

.carousel {
  width: 85%;

  & .header {
    @apply flex w-full justify-between heading-xs mb-[30px];
  }

  & .navigation {
    @apply text-fuchsia heading-xxs flex gap-x-5 my-auto;

    [data-carousel-target="prev"] {
      &::before {
        content: "";
        background-color: currentColor;
        display: inline-block;
        mask: url('/images/shared/arrow_back_icon.svg') no-repeat 50% 50%;
        mask-size: contain;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        vertical-align: sub;
      }
    }
    [data-carousel-target="next"] {
      &::after {
        content: "";
        background-color: currentColor;
        display: inline-block;
        mask: url('/images/shared/arrow_forward_icon.svg') no-repeat 50% 50%;
        mask-size: contain;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 4px;
        vertical-align: sub;
      }
    }
  }
}
.swiper {
  margin-left: auto !important;
  margin-right: 2rem !important;
}
.swiper-wrapper {
  @apply h-[320px] md:h-[512px]
}

.swiper-slide {
  @apply bg-very-black gap-5 p-10
}

.swiper-slide {
  display: flex;
  align-items: center;
  width: 280px !important;
  height: 320px !important;

  a {
    .highlight {
      @apply heading-xs text-fuchsia text-center mb-4;

      width: 210px;
      height: 240px;
      overflow: hidden;
      text-overflow: ellipsis;

      quotes: "“" "”"; /* Sets the types of quotation marks to use */

      &::before {
        content: open-quote;
      }
      &::after {
        content: close-quote;
      }
    }
    .source {
      @apply base text-off-white text-center;
    }
  }
}
@media (min-width: 768px) {
  .swiper-slide {
    width: 400px !important;
    height: 512px !important;

    a {
      width: 300px;
      height: 412px;

      .highlight {
        @apply heading-sm;
        width: 300px;
        height: 412px;
      }
    }
  }
}
.category-title-container {
  position: relative;
  text-align: left;
  height: 260px;
  img {
    width: 260px;
    height: 260px;
  }

  @media (min-width: 768px) {
    img {
      width: 454px;
      height: 454px;
    }
  }
}
.category-title {
  @apply heading-lg uppercase text-medium-black;

  position: absolute;
  top: 275px;
  left: -5%;
  transform: rotate(270deg);
  transform-origin: left top;
  z-index: 2;

  &.glow {
    stroke-width: 6px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #1a1a1a;
    z-index: 1;
  }

  @media (min-width: 768px) {
    top: 484px;
    left: -15%;
  }
}
.swiper-button-disabled {
  @apply text-dark-grey
}