/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 170px;
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-size: 90px;
  font-weight: 700;
}

h3 {
  font-size: 72px;
  font-weight: 400;
}

h4 {
  font-size: 56px;
  font-weight: 400;
}

h5 {
  font-size: 40px;
}

h6 {
  font-weight: bold;
  font-size: 40px;
}

.heading-7 {
  font-size: 40px;
  font-weight: bold;
}

.heading-8 {
  font-size: 28px;
}

.heading-9 {
  font-size: 28px;
  font-weight: 400;
}

.heading-10 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.base {
  font-size: 16px;
  font-weight: 400;
}

.meta {
  font-size: 16px;
  font-weight: 500;
}