body.no--scroll {
  overflow: hidden;
}
nav.nav--open {
  @apply bg-solid-black;
  overflow: hidden;
}
nav.nav--open #main-site-nav-wrapper {
  @apply animate-fadein !block;
}
nav.nav--closing #main-site-nav-wrapper {
  @apply animate-fadeout !block;
}
nav.nav--closed #main-site-nav-wrapper {
  @apply opacity-0 hidden;
}

nav.nav--open #menu-icon > #middle {
  opacity: 0;
}
nav.nav--open #menu-icon > #bottom {
  transform: rotate(-45deg) translate(-15px);
}
nav.nav--open #menu-icon > #top {
  transform: rotate(45deg) translate(4px, -12px);
}
nav #menu-icon path {
  transition: all .75s;
}