<footer class="footer relative bg-solid-black text-white w-full pt-[60px]">
  <div class="footer-content flex flex-col items-center">
     <img class="bg-black h-[50px] mb-[40px]" src="/images/shared/phone-icon.png">
    <p class="mb-[30px] body text-medium-grey">© 2023 CC BY-NC 4.0</p>
    <ul class="flex justify-evenly mb-[30px] w-full base text-white">
      <li>About</li>
      <li>Contact</li>
      <li>Terms</li>
      <li>Privacy</li>
      <li>Subscribe</li>
    </ul>
     <div class="flex justify-center mb-[30px] gap-6">
      <span>
        <img class="bg-white" src="/images/shared/the-tech-we-want_footer-logo.png">
      </span>
       <span>
        <img class="bg-white" src="/images/shared/cc-by-nc_footer-logo.png">
      </span>
    </div>
    <ul class="flex justify-center mb-[60px] h-[40px] gap-6">
      <li>
        <img class=" h-[20px] p-30p" src="/images/shared/instagram.svg">
      </li>
       <li>
        <img class="h-[20px]" src="/images/shared/tik-tok.svg">
      </li>
       <li>
       <img class="h-[20px]" src="/images/shared/spotify.svg">
      </li>
    </ul>
  </div>
</footer>
