<footer class="footer relative bg-solid-black text-white w-full">
  <div class="ticker-wrap mb-[60px] font-body text-solid-black h-[40px] bg-lime-green -rotate-1 -translate-y-2">
    <div class="ticker heading-xs-alt py-2">
      <ul>
        <li>JIM REMSIK</li>
        <li class="ticker-bullet px-2">*</li>
        <li>SAVANCE X</li>
        <li class="ticker-bullet px-2">*</li>
        <li>SHERRI JOHNSON</li>
        <li class="ticker-bullet px-2">*</li>
        <li>GEMMA J</li>
        <li class="ticker-bullet px-2">*</li>
        <li>REUBEN JOHNSON</li>
        <li class="ticker-bullet px-2">*</li>
        <li>SARA WATSON</li>
        <li class="ticker-bullet px-2">*</li>
        <li>EMILY BEST</li>
        <li class="ticker-bullet px-2">*</li>
        <li>JOHN DOE</li>
        <li class="ticker-bullet px-2">*</li>
      </ul>
    </div>
  </div>
  <div class="footer-content flex flex-col items-center">
     <img class="bg-black h-[50px] mb-[40px]" src="./images/shared/phone-icon.png">
    <p class="mb-[30px] body text-medium-grey">© 2023 CC BY-NC 4.0</p>
    <ul class="flex justify-center mb-[30px] gap-6 base text-white">
      <li>About</li>
      <li>Contact</li>
      <li>Terms</li>
      <li>Privacy</li>
      <li>Subscribe</li>
    </ul>
     <div class="flex justify-center mb-[30px] gap-6">
      <span>
        <img class="bg-white" src="./images/shared/the-tech-we-want_footer-logo.png">
      </span>
       <span>
        <img class="bg-white" src="./images/shared/cc-by-nc_footer-logo.png">
      </span>
    </div>
    <ul class="flex justify-center mb-[60px] h-[40px] gap-6">
      <li>
        <img class="bg-white h-[20px] p-30p" src="./images/shared/instagram.svg">
      </li>
       <li>
        <img class="bg-white h-[20px]" src="./images/shared/tik_tok_icon.svg">
      </li>
       <li>
        <img class="bg-white h-[20px]" src="./images/shared/spotify_icon.svg">
      </li>
    </ul>
  </div>
</footer>
