.button {
  @apply animate_color;
}
.button.primary {
  @apply bg-lime-green text-black rounded-sm px-[15px] py-3 hover:underline active:no-underline block min-h-[50px] min-w-[190px] w-fit text-center uppercase;

  &:hover {
    opacity: 70%;
    @apply animate_opacity;
  }
}
.button.secondary {
  @apply text-medium-grey border border-medium-grey rounded-sm px-[15px] py-3 hover:text-lime-green hover:border-lime-green hover:underline active:no-underline block min-h-[50px] min-w-[190px] w-fit text-center uppercase;

  &:hover {
    opacity: 70%;
    @apply animate_opacity;
  }
}
.button.tertiary {
  @apply text-lime-green border border-lime-green rounded-sm px-5 hover:underline active:no-underline block min-h-[50px] min-w-[190px] w-fit text-center py-3 uppercase;

  &:hover {
    opacity: 70%;
    @apply animate_opacity;
  }
}
