.button {
  @apply body text-center w-fit;
  @apply animate_color;
  border-width: 1.5px;
  border-radius: 7px;
  display: block;
  font-weight: normal;
  letter-spacing: .01em;
  text-transform: uppercase;

  &:hover {
    @apply animate_opacity;
    opacity: 70%;
  }

  &:hover, &:active {
    border-width: 2.5px;
  }
}
.button.primary {
  @apply bg-lime-green text-black;
  @apply hover:underline active:no-underline;
  @apply min-h-[50px] min-w-[190px];
  font-weight: 500;
  padding: 12px 15px;
  border: none;
}
.button.secondary {
  @apply text-medium-grey border-medium-grey;
  @apply hover:text-lime-green hover:border-lime-green hover:underline active:no-underline min-h-[50px] min-w-[190px];
  padding: 12px 15px;
}
.button.tertiary {
  @apply text-lime-green border-lime-green;
  @apply hover:underline active:no-underline;
  @apply min-h-[50px] min-w-[190px];
  font-size: 24px;
  padding: 12px 25px;
}
