:root {
  --carousel-padding-left:
      clamp(
      var(--carousel-padding-left-min),
      var(--carousel-padding-left-val),
      var(--carousel-padding-left-max)
    );
  --carousel-padding-left-min: 30px;
  --carousel-padding-left-val: calc(1vw * var(--carousel-padding-multiplier));
  --carousel-padding-left-max: 330px;

  --carousel-padding-multiplier: 0.1;
  @media (min-width: 400px) {
    --carousel-padding-multiplier: 8;
  }
  @media (min-width: 800px) {
    --carousel-padding-multiplier: 15;
  }
  @media (min-width: 1280px) {
    --carousel-padding-multiplier: 10;
  }
}

[data-controller="carousel"] {
  @apply bg-white pt-[80px] md:pt-[100px] pb-[80px] md:pb-[140px] text-medium-black;
  padding-left: var(--carousel-padding-left) !important;

  h1 { @apply heading-xs mb-[30px] md:-mb-[25px]; }
}

.carousel {
  @apply w-full flex-col gap-12;


  nav {
    @apply text-fuchsia order-last self-start md:self-end md:order-first heading-xxs flex gap-x-5;
    font-weight: normal !important;
    margin-right: 1rem !important;

    button:not(.swiper-button-disabled):hover {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;
    }

    [data-carousel-target="prev"] {
      &::before {
        content: "";
        background-color: currentColor;
        display: inline-block;
        mask: url('/images/shared/arrow_back_icon.svg') no-repeat 50% 50%;
        mask-size: contain;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        vertical-align: sub;
      }
    }
    [data-carousel-target="next"] {
      &::after {
        content: "";
        background-color: currentColor;
        display: inline-block;
        mask: url('/images/shared/arrow_forward_icon.svg') no-repeat 50% 50%;
        mask-size: contain;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 4px;
        vertical-align: sub;
      }
    }
  }
  .poster {
    @apply w-[300px];

    .cover {
      @apply bg-cover bg-center h-[430px] w-[300px] mb-[30px];
      border-radius: 5% 5% 5% 0;
    }
    h2 { @apply heading-xxs text-medium-black mb-[26px] }
    p { @apply text-base text-dark-grey }
  }
}
.swiper {
  margin-right: 0px !important;
}
.swiper-wrapper {
  @apply h-[320px] md:h-[512px] flex;
}
.swiper-button-disabled {
  @apply text-dark-grey
}
