@keyframes ticker {
  0% {
    transform: translate3d(25%, 0, 0);
  }
  100% {
    transform: translate3d(-25%, 0, 0);
  }
}
.ticker-wrap {
  overflow: hidden;
  margin-top: -10px;
  height: 50px;
}
.ticker-wrap .ticker {
  display: flex;
  gap: 8px;
  height: 50px;
  transform: translate3d(25%, 0, 0);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  animation-name: ticker;
  animation-duration: 30s;
}

.ticker-wrap .ticker:hover {
  animation-play-state: paused;
}

.ticker ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ticker .ticker-bullet {
  line-height: 100%;
  height: 50px;
  align-self: flex-end;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;

  &:last-of-type {
    display: none;
  }
}
