@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
}

.heading-xxxl,
.heading-xxl,
.heading-xl,
.heading-lg,
.heading-md,
.heading-sm,
.heading-sm-alt {
  font-size: clamp(var(--min), var(--val), var(--max));
  line-height: clamp(var(--min), var(--val), var(--max));
}
.heading-xxxl {
  @apply font-semibold capitalize tracking-tight;
  --min: 72px;
  --val: 10vw;
  --max: 180px;
}
.heading-xxl {
  @apply font-semibold capitalize tracking-tight;
  --min: 20px;
  --val: 8vw;
  --max: 94px;
}
.heading-xl {
  --min: 20px;
  --val: 5vw;
  --max: 72px;
}
.heading-lg {
  @apply font-bold uppercase;
  --min: 36px;
  --val: 4vw;
  --max: 56px;
}
.heading-md {
  --min: 26px;
  --val: 4vw;
  --max: 40px;
}
.heading-sm {
  font-weight: bold;
  letter-spacing: 0.1em;
  --min: 36px;
  --val: 3vw;
  --max: 36px;
}
.heading-sm-alt {
  --min: 36px;
  --val: 3vw;
  --max: 36px;
}
.heading-xs {
  font-weight: 500;
  letter-spacing: 0.1em;
  --min: 24px;
  --val: 3vw;
  --max: 24px;
}
.heading-xs-alt {
  --min: 24px;
  --val: 2vw;
  --max: 24px;
}
.heading-xxs {
  font-weight: 600;
  text-transform: capitalize;
  --min: 20px;
  --val: 2vw;
  --max: 20px;
}
.body {
  --min: 17px;
  --val: 1.5vw;
  --max: 17px;
}
.base {
  --min: 16px;
  --val: 1.5vw;
  --max: 16px;
}
.meta {
  text-transform: lowercase;
  --min: 16px;
  --val: 2vw;
  --max: 16px;
}
