<div class="bg-black">
  <section class="tell-your-story relative bg-medium-black text-white flex justify-center items-center bg-gradient-story px-[30px]">
    <div class="flex flex-col items-center mt-[140px] md:mt-[186px] mb-[104px] md:mb-[208px] max-w-[400px] md:max-w-[960px] md:w-[70%]">
      <h2 class="heading-xxxl text-center mb-[32px] md:mb-[60px]">Tell Your Story</h2>
      <%= render Shared::Button.new(text: "Participate here", href: "/participate", type: :tertiary)%>
    </div>
  </section>
  <div class="ticker-wrap">
    <div class="ticker">
      <ul>
        <% 4.times do %>
          <% site.collections.contributors.resources.each do |contributor| %>
            <li class="uppercase"><%= contributor.data.name %></li>
            <li class="ticker-bullet">*</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>