<div class="ticker-wrap mb-[60px] font-body text-solid-black h-[40px] bg-lime-green -rotate-1 -translate-y-2">
  <div class="ticker heading-xs-alt py-2">
    <ul>
      <li>JIM REMSIK</li>
      <li class="ticker-bullet px-2">*</li>
      <li>SAVANCE X</li>
      <li class="ticker-bullet px-2">*</li>
      <li>SHERRI JOHNSON</li>
      <li class="ticker-bullet px-2">*</li>
      <li>GEMMA J</li>
      <li class="ticker-bullet px-2">*</li>
      <li>REUBEN JOHNSON</li>
      <li class="ticker-bullet px-2">*</li>
      <li>SARA WATSON</li>
      <li class="ticker-bullet px-2">*</li>
      <li>EMILY BEST</li>
      <li class="ticker-bullet px-2">*</li>
      <li>JOHN DOE</li>
      <li class="ticker-bullet px-2">*</li>
    </ul>
  </div>
</div>
